<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/lib/jquery/jquery-ui/jquery-ui.css}" rel="stylesheet" />
    <link th:href="@{/lib/fontawesome/css/all.css}" rel="stylesheet" />
    <link th:href="@{/lib/jquery/DataTables/datatables.css}" rel="stylesheet" />
    <link th:href="@{/lib/jquery/DataTables/datatables.css}" rel="stylesheet" />
    <link th:href="@{/lib/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/component/Authen/Authen.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/lib/jquery/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery/jquery-ui/jquery-ui.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery/jquerysession.js}"></script>
    <script type="text/javascript" th:src="@{/lib/jquery/DataTables/datatables.js}"></script>
    <script type="text/javascript" th:src="@{/lib/fontawesome/js/all.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/component/Authen/Authen.js}"></script>

    <script type="text/javascript" th:src="@{/lib/jquery/vfs_fonts.js}"></script>

    <title>Title</title>
</head>
<body>

<body>
<section class="login">
    <div class="login_box">
        <div class="left">

            <div class="contact">
                  <div>
                    <h3>SIGN IN</h3>
                    <input type="text" id="username" placeholder="USERNAME">
                    <input type="password" id="password" placeholder="PASSWORD">
                    <button class="submit" id="loginBtn">เข้าสู่ระบบ</button>
                  </div>
            </div>
        </div>
        <div class="right">
            <div class="right-text">
                <h2></h2>
                <h5>รายการส่งเสริมการตลาดที่เหมาะสมกับกลุ่มลูกค้า</h5>
            </div>
            <div class="right-inductor">
                <img src="/component/Image/images-5.jpeg" class=""></div>
        </div>
    </div>
</section>
</body>
</html>
</body>
</html>